/.buildpath
/.cache
/.metadata
/.project
/.settings
/robots.txt
/sitemap
/sitemap.xml
/.idea
/.gitattributes
/node_modules
/app/config_sandbox
/app/etc/config.php
/app/etc/env.php
/app/code/Magento/TestModule*
/.php_cs
/.php_cs.cache
/.php-cs-fixer.php
/.php-cs-fixer.cache
/dev/shell
node_modules
/.htaccess
/uct

/lib/internal/flex/uploader/.actionScriptProperties
/lib/internal/flex/uploader/.flexProperties
/lib/internal/flex/uploader/.project
/lib/internal/flex/uploader/.settings
/lib/internal/flex/varien/.actionScriptProperties
/lib/internal/flex/varien/.flexLibProperties
/lib/internal/flex/varien/.project
/lib/internal/flex/varien/.settings

/pub/media/.
!/pub/media/.htaccess
/pub/media/attribute/*
!/pub/media/attribute/.htaccess
/pub/media/analytics/*
/pub/media/catalog/*
!/pub/media/catalog/.htaccess
/pub/media/customer/*
!/pub/media/customer/.htaccess
/pub/media/downloadable/*
!/pub/media/downloadable/.htaccess
/pub/media/favicon/*
/pub/media/import/*
!/pub/media/import/.htaccess
/pub/media/logo/*
/pub/media/custom_options/*
!/pub/media/custom_options/.htaccess
/pub/media/theme/*
/pub/media/theme_customization/*
!/pub/media/theme_customization/.htaccess
/pub/media/wysiwyg/*
!/pub/media/wysiwyg/.htaccess
/pub/media/tmp/*
!/pub/media/tmp/.htaccess
/pub/media/captcha/*
/pub/media/sitemap/*
!/pub/media/sitemap/.htaccess
/pub/static/*
!/pub/static/.htaccess
/pub/media/amasty/
/pub/media/klevu_images/
/pub/media/larkbury/*
/pub/media/larkbury/gallerypost/*
/pub/media/ox_instagram/

/update

/.
!/auth.json
!/package.json
!/package-lock.json
!/gulpfile.js
!/.editorconfig
!/browserSync.config.sample.js

#!/.htaccess
!/composer.json
!/composer.lock
!/README.md
!/.gitignore
!/.gitlab-ci.yml

/var/*
!/var/.htaccess
/vendor/*
!/vendor/.htaccess
/generated/*
!/generated/.htaccess
.DS_Store
.editorconfig
.deployinfo
pub/sap/includes/config.php
pub/webp-generation.log
pub/.htaccess