<div class="review-submit" data-bind="visible: boxConfigurationIsSuccess">
    <h2 data-bind="i18n: 'Review & Submit'"></h2>
    <p data-bind="i18n: 'Please review the box configuration before submitting.'"></p>
    <form data-bind="submit: handleSubmit">
        <table>
            <thead>
            <tr>
                <th data-bind="i18n: 'Number of boxes'"></th>
                <th data-bind="i18n: 'Shipment weight'"></th>
                <th data-bind="i18n: 'Billable weight'"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span data-bind="text: numberOfBoxes"></span>
                </td>
                <td>
                    <span data-bind="text: shipmentWeight"></span>
                    <span data-bind="text: 'lb.'"></span>
                </td>
                <td>
                    <span data-bind="text: billableWeight"></span>
                    <span data-bind="text: 'lb.'"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" data-bind="checked: isTermsChecked">
                    <!-- ko i18n: 'I agree to terms and conditions' --><!-- /ko -->
                </td>
                <td>
                    <button type="submit" class="action primary" data-bind="enable: canSubmit()">
                        <!-- ko i18n:  'Accept shipping plan' --><!-- /ko -->
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>

