& when (@media-common = true) {
    .massege {
        display: flex;
        align-items: center;
        justify-content: center;

        h1 {
            background-color: black;
            color: white;
            border: 2px solid red;
        }
    }
}
