& when (@media-common = true) {
  .core-demo-index {
    .messages{
      display: flex;
      align-items: center;
      justify-content: center;
      h1 {
        background-color: black;
        color: white;
        border: 2px solid red;
      }
    }
  }
  .red{
    background-color: red;
  }
  .blue{
    background-color: blue;
  }
  .orange{
    background-color: orange;
  }
}