<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="macademy_blog_post_detail_view">
        <observer name="macademy_blog_log_post_detail_view" instance="Macademy\Blog\Observer\LogPostDetailView"/>
    </event>
    <event name="sales_order_place_after">
        <observer name="macademy_blog_order_place" instance="Macademy\Blog\Observer\OrderPlace"/>
    </event>
</config>
